.charMap--container {
  font-size: 24px; }
  .charMap--container ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
.charMap--category-menu .charMap--category-menu-item {
  padding: 2px;
}

.charMap--category-menu .charMap--category-menu-item.active {
  text-decoration: underline;
  color: white;
  background: #41a6ac; }

.charMap--category-menu li {
  position: relative;
  border-bottom: 1px solid #c8c8c8; }

.charMap--category-menu button {
  display: inline-block;
  padding: .25em .5em;
  width: 100%;
  color: inherit;
  text-decoration: none;
  border: none;
  background: none;
}
  .charMap--category-menu button:hover {
    text-decoration: underline;
    background: #c8c8c8; }

.charMap--category-menu {
  background: #EEE;
}

.charMap--category {
  display: none;
  max-width: 100%;
  width: 100%; }
  .charMap--category.active {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%; }
    .charMap--category li {
      border: 1px solid #c8c8c8;
      padding: 2px;
    }
    .charMap--category li button {
    display: inline-block;
    background-color: #fff;
    background-blend-mode: color;
    position: relative;
    margin: 0;
    padding: 1px;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    border: none;
    /* Internet Explorer/Edge */
    line-height: 1.5em; }
    .charMap--category li button:hover {
      cursor: pointer;
      background: #41a6ac;
      color: white; }
    .charMap--category li button:active {
      cursor: pointer;
      background: #5ebcc2;
      color: white; }

